/*Body initiation*/
body {
  margin: 0;
  position: absolute;
}


*{
  font-family:Rubik;
}

/*make white*/
.makewhite {
  color: white;
}

/*CSS of different text*/
.small-text{
    font-size: calc((1.3 - 1) * 1.2vh + 1rem);
    line-height: 1.5;
    font-weight: 300;
    margin: 5% auto auto;
    position:  relative;
}

.main-text {
    font-size:  calc((1 - 1) * 1.2vh + 1rem);
}

/*CSS of different types of sections*/
.paddedwhitebox {
  padding:  10% auto 10% auto;
  margin:  7% auto 7% auto;
  color: black;
}

.paddedblockbox {
  padding:  10% auto 10% auto;
  /*margin:  7% auto 7% auto;*/
  background-color: black;
  /*color: white; */
}

.centerfloatingtext {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 4%;
}

/*For Headers, like "Core Workstreams, Stay in the loop"*/
.headertext {
    font-weight: 500;
    font-size:  calc((3.5 - 1) * 1.2vh + 1rem);
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    margin-bottom: 5%;
    margin-top: 5%;

}


#whoweareheader {
  text-align: left !important;
}

#whowearemargin {
  text-align:  left;
  margin:  5%;
}

/*Small Headers like "What we do"*/
.smallheadertext {
  font-weight: 900;
  font-size:  calc((2 - 1) * 1.2vh + 1rem);
}

/*Smaller header, like underneath images in "our core workstreams"*/
#featureheader{
    font-size:  calc((1.3 - 1) * 1.2vh + 1rem);
    font-weight: 900;
}

/*To align text in center*/
.text-align-center {
  text-align: center;
}

/*Grey Button CSS*/
.HomeButtons {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;

}

.HomeButtons:hover {
  background-color: lightgrey;
}

/*Background image for home page*/
.homepage_background {
	background-image: url("../Backdrop_3.jpeg");
  background-size: cover;
  padding: 3%;

}

/*Set a box with white font*/
.whitefontbox {
  color: white;
  padding: 50px 40px;
}

.expand-section{
    white-space: pre-wrap;
}

/*Navigation Formatting*/
.logo {
    margin-left: 2%;
    display: inline-block;
    size: 30%;
    height: 5%;

}
#navbarToggler {
  text-align: right;
}

#nav-text {
	color: white;
}

#nav-text:hover {
	text-decoration: underline;
}

#social_icon {
  color: white;
  text-align: right;
}

/*Specific CSS of homepage text*/
#slogan {
	  font-size: calc((5.5 - 1) * 1.3vw + 1rem);
    /*line-height: calc(1.7 * (1 + (1 - 5.5)/25));*/
    font-weight: 500px;
    margin-top: 1px;
    margin: 5% auto auto;
    position:  relative;
}

#learn-more {
	color:  grey;
	position:  relative;
  font-size: calc((1.3 - 1) * 1.2vh + 1rem);
}

/*2 column box with image to left and text to right in black*/
#box2-text {
  text-align:  left;
  margin:  5%;
  color: black;
}

.hexagon-img {
  position: relative;
  /*margin:  5% auto auto 5%;*/
  padding-left: 8%;
  padding-right: 8%;
  max-width: 99%;

}
.box2-img {
	position: relative;
	margin:  5% auto auto 5%;
	padding-left: 8%;
	padding-right: 8%;
  max-width: 99%;

}

/*CSS of centered button*/
.CenteredButtonBox {
  display: flex;
    justify-content: center;
    margin: 5%;

}
/*Line Break*/
.linebreak {
	position: relative;
    height: .1px;
    width: 200px;
    align-items: center;
    margin:  auto;
    color: white;
}

/*3 column features*/
.featureimg {
	width: 40%;
	margin-bottom: 20px;

}

.whoweareimg {
    width: 80%;
  margin-bottom: 20px;
}

.featurecontent {
	padding: 3% 5%;
	align-content: center;
	position: relative;
        

}

/*Specific CSS for email submission*/
#submitbutton {
  margin-left: 5%;
}

.emailinput {
	display: flex;
  justify-content: center;
  margin: 5%;
}


#newsletter_form {
	display: flex;
    justify-content: center;
    padding-bottom: 10%;
}